body {
	border:10px solid pink; 
	background-color: #6fff00;
	grid-template-columns: 1fr 1fr 1fr ;
	grid-template-rows: 1fr 1fr 1fr ;
	display:grid;
	border-collapse: collapse;
}
h1 {
	border:10px solid purple; 
  font-size: 22px;
  font-style: Arial;
  text-align: center;
  grid-column-start: 2;
  grid-row-start: 1;
}
h2 {
	border:10px solid orange; 
	font-size: 22px;
  font-style: Arial;
  text-align: center;
  grid-column-start: 2;
  grid-row-start: 2;
}
p {
	color: red;
}
p.jag{
	border:10px solid green; 
	border-style: double;
	border-color: green;
	grid-column-start: 1;
  grid-row-start: 2;
}

p.program{
	border:10px solid red; 
	color: blue;
	text-align: center;
	grid-column-start: 3;
  grid-row-start: 2;
}

p.tankar{
	border:10px solid yellow; 
	text-align: right;
	grid-column-start: 2;
  grid-row-start: 3
}

a:link {
	border:10px solid lightblue; 
  text-decoration: none;
  grid-column-start: 1;
  grid-row-start: 3
}
