body {
	background-color: lightgray;

}
h1 {
  font-size: 22px;
  font-style: Arial;
  text-align: center;
}
p {
	color: red;
}
.jag{
	border-style: double;
	border-color: green;
}

.program{
	color: blue;
	text-align: center;
}

.tankar{
	text-align: right;
}

a:link {
  text-decoration: none;
}
